<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpaceGrotesk-Medium.otf</string>
		<string>SpaceGrotesk-SemiBold.otf</string>
		<string>Inter-Regular.otf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.darshanbodara.monthlyreports</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>monthlyreports</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
